@{
    ViewData["Title"] = "Home Page";
    ViewData["ResourceServer"] = "https://localhost:5001/";
    List<eshop.core.ViewModels.ProductViewModel> Products = ViewData["Products"] as List<eshop.core.ViewModels.ProductViewModel>;
    List<eshop.core.ViewModels.CategoryViewModel> Categories = ViewData["Categories"] as List<eshop.core.ViewModels.CategoryViewModel>;
}

<div id="application"></div>

<script type="text/x-kendo-template" id="layout-template">
    <div id="wrapper">
        <div id="header">
            <a id="cart-info" href="/cart">Shopping Cart: <span><span data-bind="text: contentsCount"></span> items</span></a>
        </div>
        <div id="main-section">
            <section id="pre-content"></section>
            <section id="content"></section>
            <div id="pager"></div>
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="index-template">
    <ul data-role="listview" data-bind="source: items" data-template="item" id="main"></ul>
</script>

<script type="text/x-kendo-template" id="item">
    <li class="products">
        <img class="main-image" src="@ViewData["ResourceServer"]#: Images.length > 0 ? Images[0].FilePath : 'resources/images/placeholder.png'#" alt="#: Name#" title="#: Name #" />
        <strong data-bind="text: Name"></strong>
        <span class="price"><span>$</span><span>#:RegularPrice-DiscountPrice##=DiscountPrice>0?"(<span style='text-decoration: line-through'>"+RegularPrice+"</span>)":""#</span></span>

        <button class="add-to-cart" data-bind="click: addToCart">Add to cart</button>
    </li>
</script>

<script>

    $(document).ready(function () {

        productDataSource.fetch(function () {
            productDataSource.data(@Html.Raw(Json.Serialize(Products)));
            var data = productDataSource.data();
            console.log(data);
        });

        var layout = new kendo.Layout("layout-template", { model: cartModel });
        var productGrid = new kendo.View("index-template", { model: productsGridModel });

        layout.render("#application");
        layout.showIn("#content", productGrid);

        $("#pager").kendoPager({
            dataSource: productDataSource
        });
    });
</script>
