@model List<eshop.core.ViewModels.ProductViewModel>
@using eshop.core.ViewModels;
@{
    ViewData["Title"] = "Product Index";
    ViewData["ResourceServer"] = "https://localhost:5001/";
    List<CategoryViewModel> c= ViewData["categories"] as List<CategoryViewModel>;
}

<h4>Product List</h4>


    <div class="row">
        <div class="col-sm-12 col-xl-8">
            <div id="product-grid"></div>
        </div>
        <div id="new-product-info" class="col-sm-12 col-xl-4">
            <form id="new-product-form"></form>
        </div>
    </div>
    <div id="update-product-window" class="row flex-nowrap">
        <div class="col-5">
            <div id="product-images-view"></div>
            <div>
                <input name="files" id="product-image" type="file" />
            </div>
        </div>
        <div class="col-6">
            <form id="update-product-form"></form>
        </div>
    </div>


<script type="text/x-kendo-tmpl" id="product-images-template">
    <div class="product-images">
        <img src="@ViewData["ResourceServer"]#:FilePath#" />
        <div class="edit-buttons">
            <a class="k-button k-delete-button" href="\\#"><span class="k-icon k-i-close"></span></a>
        </div>
    </div>
</script>

<style>
    #product-images-view {
        padding: 10px 5px;
        margin-bottom: -1px;
        min-height: 510px;
        /* Avoid cutout if font or line is bigger */
        font: inherit;
    }

    .product-images {
        float: left;
        position: relative;
        width: 111px;
        height: 150px;
        margin: 0 5px;
        padding: 0;
    }

    .product-images img {
        width: 100px;
        height: 100px;
    }

</style>

<script>
    $(document).ready(function () {

        var emptyDataSource = new kendo.data.DataSource({
            data: []
        });

        var productDataSource = new kendo.data.DataSource({
            data: @Html.Raw(Json.Serialize(Model)),
            batch: true,
            pageSize: 10,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { type: "number" },
                        Name: { type: "string" },
                        RegularPrice: { type: "number" },
                        DiscountPrice: { type: "number" },
                        CreatedAt: { type: "DateTime" },
                        UpdatedAt: { type: "DateTime" },
                        Categories: { type: "Categories" },
                    }
                }
            },
        });

        var updateProductWnd = $("#update-product-window").kendoWindow({
            title: "Update product",
            modal: true,
            visible: false,
            resizable: true,
            width: 900,
            close: function (e) {
                $("#product-image").data("kendoUpload").clearAllFiles();
                var imgListView = $("#product-images-view").data("kendoListView");
                imgListView.setDataSource(emptyDataSource);
            },
            open: function (e) {
                var pId = $("#update-product-form").data("kendoForm").options.formData.Id;
                var pData = productDataSource.get(pId);
                if (!pData.hasOwnProperty("Images") || pData.Images===null) {
                    $.ajax({
                        type: "GET",
                        url: "/product/" + pId +"/image/",
                        success: function (response) {
                            pData.Images = new kendo.data.DataSource({
                                data: response
                            });
                            $("#product-images-view").data("kendoListView").setDataSource(pData.Images);
                        },
                        failure: function (response) {
                            alert(response);
                        }
                    });
                } else {
                    $("#product-images-view").data("kendoListView").setDataSource(pData.Images);
                }
            }
        }).data("kendoWindow");

        $("#product-images-view").kendoListView({
            template: kendo.template($("#product-images-template").html())
        });

        $("#product-grid").kendoGrid({
            dataSource: productDataSource,
            pageable: {
                pageSizes: true
            },
            scrollable: false,
            columns: [
                { field: "Id", width: "50px" }
                , "Name", "RegularPrice", "DiscountPrice",
                {
                    field: "CreatedAt",
                    media: "(min-width: 1600px)"
                },
                {
                    field: "UpdatedAt",
                    media: "(min-width: 1600px)"
                },
                {
                    title: "Categories",
                    template: function (dataItem) {
                        return dataItem.Categories.map(c=>c.Name).join(", ");
                    },
                    media: "(min-width: 1200px)"
                },
                {
                    command: [
                        {
                            name: "Delete",
                            click: function (e) {
                                e.preventDefault();
                                // e.target is the DOM element representing the button
                                var tr = $(e.target).closest("tr"); // get the current table row (tr)
                                // get the data bound to the current table row
                                var data = this.dataItem(tr);
                                $.ajax({
                                    type: "DELETE",
                                    url: "/product/delete/" + data.Id,
                                    success: function (response) {
                                        productDataSource.remove(data);
                                    },
                                    failure: function (response) {
                                        alert(response);
                                    }
                                });
                            }
                        },
                        {
                            name: "Edit",
                            click: function(e){
                                e.preventDefault();
                                var data = this.dataItem($(e.currentTarget).closest("tr"));
                                var form = $("#update-product-form").data("kendoForm");
                                form.setOptions({
                                    formData: data.toJSON()
                                });
                                updateProductWnd.center().open();
                            }
                        }
                    ],
                    title: "Action", width: "180px"
                }
            ],
        });

        var validationSuccess = $("#validation-success");

        $("#new-product-form").kendoForm({
            orientation: "horizontal",
            formData: {
                Name: "",
                RegularPrice: 0,
                DiscountPrice: 0,
                Categories: []
            },
            items: [{
                type: "group",
                label: "Add new product",
                items: [
                    { field: "Name", label: "Name:", validation: { required: true } },
                    { field: "RegularPrice", label: "Regular Price:", validation: { required: true } },
                    { field: "DiscountPrice", label: "Discount Price:"},
                    {
                        field: "Categories",
                        editor: "MultiSelect",
                        editorOptions: {
                            dataSource: @Html.Raw(Json.Serialize(c)),
                            dataTextField: "Name",
                            dataValueField: "Id",
                            autoWidth: true,
                        },
                        label: "Categories:",
                        validation: { required: false }
                    },
                ]
            }],
            validateField: function (e) {
                validationSuccess.html("");
            },
            submit: function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    url: "/product/add",
                    data: JSON.stringify(e.model),
                    success: function (response) {
                        productDataSource.add(response);
                    },
                    failure: function (response) {
                        alert(response);
                    }
                });
            },
            clear: function (ev) {
                validationSuccess.html("");
            },
            buttonsTemplate: '<button class="k-button k-form-clear">Clear</button><button class="k-button k-primary k-form-submit" type="submit">Add</button>'
        });

        $("#update-product-form").kendoForm({
            orientation: "horizontal",
            formData: {
                Name: "",
                RegularPrice: 0,
                DiscountPrice: 0,
                Categories: []
            },
            items: [{
                type: "group",
                label: "Product info",
                items: [
                    { field: "Name", label: "Name:", validation: { required: true } },
                    { field: "RegularPrice", label: "Regular Price:", validation: { required: true } },
                    { field: "DiscountPrice", label: "Discount Price:"},
                    {
                        field: "Categories",
                        editor: "MultiSelect",
                        editorOptions: {
                            dataSource: @Html.Raw(Json.Serialize(c)),
                            dataTextField: "Name",
                            dataValueField: "Id",
                            autoWidth: true,
                        },
                        label: "Categories:",
                        validation: { required: false }
                    },
                ]
            }],
            validateField: function (e) {
                validationSuccess.html("");
            },
            submit: function (e) {
                e.preventDefault();
                $.ajax({
                    type: "PUT",
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    url: "/product/update/"+e.model.Id,
                    data: JSON.stringify(e.model),
                    success: function (response) {
                        productDataSource.pushUpdate(response);
                        updateProductWnd.close();
                    },
                    failure: function (response) {
                        alert(response);
                        updateProductWnd.close();
                    }
                });
            },
            clear: function (ev) {
                validationSuccess.html("");
            },
            buttonsTemplate: '<button class="k-button k-primary k-form-submit" type="submit">Update</button>'
        });

        $("#product-image").kendoUpload({
            async: {
                saveUrl: "product",
                autoUpload: false
            },
            select: function (e) {
                this.options.async.saveUrl = "product/" + $("#update-product-form").data("kendoForm").options.formData.Id + "/image";
                //var imgListView = $("#product-images-view").data("kendoListView");
                var upload = $("#product-image").data("kendoUpload");
                upload.clearAllFiles();
            },
            success: function (e) {
                var imgListView = $("#product-images-view").data("kendoListView");
                imgListView.dataSource.add(e.response);
            },
            error: function (e) {
            },
            complete: function (e) {
            }
        });

    });
</script>