@{ 
}

<link rel="stylesheet" href="~/css/report.css" />
<script src="~/lib/plotly/plotly.min.js"></script>

<div class="row">
    <div class="chart-wrapper col-sm-12">
        <div id="revenue-chart"></div>
    </div>
</div>

<div class="row">

    <div id="report-left" class="col-sm-6">
        <div id="country-chart" style="margin-bottom: 10px"></div>
    </div>
    
    <div id="report-right" class="col-sm-6 ">
        <div id="login-chart" style="margin-bottom: 10px"></div>
    </div>

</div>

<script>
    function GetRevenue(year, chart, chartData) {
        $.get(`Report/Revenue/${year}`, function (response) {
            var data = JSON.parse(response);
            chartData = [{
                name: `${year}`,
                x: data.x,
                y: data.y,
                type: 'bar'
            }];
            var layout = {
                title: `Monthly revenue in ${year}`,
                height: 300,
                xaxis: { fixedrange: true },
                yaxis: { fixedrange: true },
            };
            Plotly.react(chart, chartData, layout);
        });
    }

    function GetMonthlyCountries(year, month, chart, chartData) {
        $.get(`Report/Login/Country/${year}/${month}`, function (response) {
            var countries = JSON.parse(response).Countries;
            var labels = [];
            var values = [];
            for (var i = 0; i < countries.length; i++) {
                labels.push(countries[i].Country.toUpperCase());
                values.push(countries[i].Total);
            }
            chartData = [{
                labels: labels,
                values: values,
                type: 'pie'
            }];
            var layout = {
                title: `Monthly Country Login in ${month}/${year}`,
            };
            Plotly.react(chart, chartData, layout);
        });
    }

    function GetMonthlyLogin(year, chart) {
        $.get(`Report/Login/${year}`, function (response) {
            var data = JSON.parse(response);
            var dataTotal = {
                name: `Total`,
                x: data.months,
                y: data.total,
                type: 'bar'
            };
            var dataUnique = {
                name: `Unique`,
                x: data.months,
                y: data.unique,
                type: 'scatter'
            };
            var layout = {
                title: `Monthly login in ${year}`,
                xaxis: { fixedrange: true },
                yaxis: { fixedrange: true },
            };
            Plotly.react(chart, [dataTotal, dataUnique], layout);
        });
    }

    $(document).ready(function () {

        var revenueChart = document.getElementById('revenue-chart');
        var revenueChartData = [];
        Plotly.newPlot(revenueChart, revenueChartData);
        GetRevenue(2020, revenueChart, revenueChartData);

        var countriesChart = document.getElementById('country-chart');
        var countriesChartData = [];
        Plotly.newPlot(countriesChart, countriesChartData);
        GetMonthlyCountries(2020, 10, countriesChart, countriesChartData);

        var loginChart = document.getElementById('login-chart');
        var loginChartData = [];
        Plotly.newPlot(loginChart, loginChartData);
        GetMonthlyLogin(2020, loginChart);

    });
</script>

<script>
    function placeholder(element) {
        return element.clone().addClass("placeholder");
    }
    function hint(element) {
        return element.clone().addClass("hint")
            .height(element.height())
            .width(element.width());
    }
    $(document).ready(function () {
        $("#report-left").kendoSortable({
            filter: ">div",
            cursor: "move",
            connectWith: "#report-right",
            placeholder: placeholder,
            hint: hint
        });

        $("#report-right").kendoSortable({
            filter: ">div",
            cursor: "move",
            connectWith: "#report-left",
            placeholder: placeholder,
            hint: hint
        });

        //exapand
        $(".panel-wrap").on("click", "span.k-i-sort-desc-sm", function (e) {
            var contentElement = $(e.target).closest(".widget").find(">div");
            $(e.target)
                .removeClass("k-i-sort-desc-sm")
                .addClass("k-i-sort-asc-sm");

            kendo.fx(contentElement).expand("vertical").stop().play();
        });

        //collapse
        $(".panel-wrap").on("click", "span.k-i-sort-asc-sm", function (e) {
            var contentElement = $(e.target).closest(".widget").find(">div");
            $(e.target)
                .removeClass("k-i-sort-asc-sm")
                .addClass("k-i-sort-desc-sm");

            kendo.fx(contentElement).expand("vertical").stop().reverse();
        });
    });
</script>